# Compiler files & Build artifacts
cache/
out/
zkout/

# Dependencies
node_modules/

# Environment & Sensitive files
.env
.env.*

# Broadcast logs (ignored because they may contain deployment details)
broadcast/

# Logs & Temporary files
.logs/
.ignore/
*.log
.TODO.md

# Editor & OS files
.DS_Store
.vscode/
.idea/
